body {
   background-color: #b7efcd;
   font-family: "Lora", serif;
   color: #1f4068;
   font-size: 27px;
   line-height: 50px;
   text-align:center;
}

h1, h2 {
  color:#59405c;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 42px;
  line-height: 60px
}

h2 {
  font-size: 35px;
  line-height: 50px
}



a {
  color:#206a5d;
  text-decoration: none;
}

a:hover {
  color: #6f4a8e;
  text-decoration: none;
}

img {
  border-radius: 50%;
  width: 300px;
}

.card {
  background:#ffffdd;
  box-shadow: 20px 20px 20px #99d8d0;
  border-radius: 6px;
  margin: 20px, 0px;
  padding: 40 px;
}

.button {
  background-color: #24a19c;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
}

.container {
  width: 900px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 35px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline-music {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
